# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Add other directories you want to ignore
node_modules/
